.selection-list--container {
  position: relative;
  display: inline-block;
  width: 100%;
  .selection-list {
    position: relative;
    border-radius: 4px;
    label {
      position: absolute;
      pointer-events: none;
      transform-origin: top left;
      transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      transform: translate(0, -2.85rem) scale(1);
      color: black;
      font-size: 1rem;
      line-height: 1;
      left: 0.75rem;
      background: white;
    }
  }
}
